body,html{
    height: 100%;
    background-color: #D8FAF5;
}
div.container {
    height: 100%;
    position: relative;
}

div.container form {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

button{
    max-width: 250px;
    min-width: 100px;
    min-height: 50px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.main-title{
    font-size: 3em;
    color: #080000;
}

.text-center{
    text-align: center;
}

.child {
    width: 80%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Main view*/

#formNameInput {
    width: 100%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#selectTestList {
    width: 100%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#selectTestList option{
    width: 100%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#selectTestList:focus, #formNameInput:focus{
    outline: none;
}

#startBtn{
    min-height: 35px;
    background-color: #F2C994;
}

/*Questions view*/

#nextBtn{
    background-color: #28A745;
    color: white;
    min-height: 35px;
}

#progressBar{
    width:100%;
    margin-top: 20px;
}

.selectedAnswer{
    background-color: #6EC7E9;
}

/*Media Queries*/

@media only screen and (max-width: 1024px) {
    .main-title{
        font-size: 2em;
    }
}

@media only screen and (max-width: 375px) {
    .main-title{
        font-size: 1.5em;
    }
}